<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaccination Management System</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
 
    <link rel="stylesheet" href="style.css">
</head>

<body>
   
     
    <div class="container text-center">
        <div class="card shadow p-4 mx-auto" style="max-width: 400px;">
            <h3 class="card-title text-danger">Donation Canceled</h3>
            <p class="card-text">Your donation process was canceled. If you wish to try again, please proceed below.</p>
            <div>
                <a href="https://salimmleng.github.io/vaccine-management/support_us.html" class="btn btn-warning mt-3 px-4 py-2">Try Again</a>
                <a href="https://salimmleng.github.io/vaccine-management/index.html" class="btn btn-secondary mt-3 px-4 py-2">Back to Homepage</a>
            </div>
        </div>
    </div>
   

  
   
    <!-- Bootstrap JS -->
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
   
</body>

</html>