<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaccination Management System</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
 
    <link rel="stylesheet" href="style.css">
</head>

<body>
   
     
    <div class="container text-center my-5">
        <div class="alert alert-danger" role="alert">
            <h3 class="display-6">Donation Failed</h3>
            <p class="lead">Unfortunately, your donation could not be processed at this time. Please try again or contact support for assistance.</p>
        </div>
        <a href="https://salimmleng.github.io/vaccine-management/support_us.html" class="btn btn-warning mt-3 px-4 py-2">Try Again</a>
        <a href="https://salimmleng.github.io/vaccine-management/index.html" class="btn btn-secondary mt-3 px-4 py-2">Back to Homepage</a>
    </div>
   

  
   
    <!-- Bootstrap JS -->
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
   
</body>

</html>